.Pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Pokedex-cards {
  display: flex;

  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Total {
  font-size: 20px;
  color: blue;
}

.Total span {
  color: black;
}

.Winner {
  color: green;
}

.Loser {
  color: red;
}

.heading {
  color: #033102;
}
